<.flash_group flash={@flash} />
<div id="document-log-container" class="h-screen p-12">
  <div id="document-container" class="h-full" style="overflow:scroll;">
    <div id="document-root"/>
  </div>
  <div id="log-container">
    <%= live_render(@conn, SandmanWeb.LiveView.Runner) %>
  </div>
</div>
<div id="req-res-container">

</div>

<button>run</button>
