<.flash_group flash={@flash} />
<div id="script-log-container" class="h-screen">
  <div id="script-container" class="h-full">
    <div id="script-group" class="h-full">
        <div id="document-root"/>
      </div>
  </div>
  <div id="log-container">

  </div>
</div>
<div id="req-res-container">

</div>

<button>run</button>
